.footer {

    .row {
        background-color: initial;
    }

    background-color: #333;
    padding: 10rem 0;
    font-size: 1.4rem;
    overflow-x: hidden;
    color: #f7f7f7;

    &__navigation {
        border-top: 1px solid #777;
        padding-top: 2rem;
        display: inline-block;
    }

    &__item {
        display: inline-block;

        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }

    &__link:link, &__link:visited {
        color: #f7f7f7;
        background-color: #333;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
    }

}