.projects {
    padding: 15rem 0;

    &__content {
        padding: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include respond(phone) {
            flex-direction: column;
        }
    }

    &__card {
        padding: 1rem;
    }
}

.card {

    &-title {
        font-size: 3rem;
    }

    &-text {
        font-size: 1.8rem;
    }

    &-footer {
        a {
            font-size: 1.4rem;
        }
    }
}